<h1 class="bg-red-200">Main Feed Index Page</h1>

<i class="pl-12">links:</i>
<div><%= link_to "about", "/about" %></div>
<div><%= link_to "help", "/help" %></div>
<div><%= link_to "disclaimer", "/disclaimer" %></div>