<div class="mx-auto pb-8 px-10 prose max-w-prose">
  <p>VaxSpotter tracks San Diego County vaccine locations and appointment availbility in real-time. We post updated appointments on our home page and twitter feed. Please follow our <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/vaxspotter">@VaxSpotter </a>twitter feed for updates.</p>
  <h2>Contact Us</h2>
  <p>VaxSpotter is maintained by <a target="_blank" rel="noopener noreferrer" href="https://www.kmshannon.com">Kyle Shannon, </a>he can be reached at <a href="mailto:vaxspotter@kmshannon.com">vaxspotter@kmshannon.com</a></p>
  <h2>Getting Involved</h2>
  <p>The project is on <a target="_blank" rel="noopener noreferrer" href="https://github.com/kshannon/vaxspotter">GitHub, </a>feel free to fork it and use it, or help improve the project!</p>
  <h2>Partner Organizations</h2>
  <p>We are always intrested in partnering with technology, healthcare, and government organizations. Please reach out!</p>
</div>