

<div class="max-w-3xl mx-auto">
    <h2>Vaccine Data Sources</h2>
    <%= @hi %>
  <div>
    <table class="table-auto">
      <thead>
        <tr>
          <th>Provider Source</th>
          <th>Sites</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      <% '' %>
        <tr>
          <td>City of San Diego</td>
          <td>1</td>
          <td>active</td>
        </tr>
        <tr>
          <td>County of San Diego</td>
          <td>14</td>
          <td>active</td>
        </tr>
        <tr>
          <td>Palomar Health</td>
          <td>1</td>
          <td>active</td>
        </tr>
        <tr>
          <td>Rady Children's Hospital</td>
          <td>1</td>
          <td>active</td>
        </tr>
        <tr>
          <td>Sharp Healthcare</td>
          <td>3</td>
          <td>active</td>
        </tr>
        <tr>
          <td>UC San Diego Health</td>
          <td>2</td>
          <td>active</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




<div class="max-w-3xl mx-auto mt-8 bg-white rounded shadow">
  <div class='tableauPlaceholder' id='viz1615222002377' style='position: relative'>
    <noscript>
      <a href='#'>
        <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CO&#47;COVID-19VaccineDashboardPublic&#47;Vaccine&#47;1_rss.png' style='border: none' />
      </a>
    </noscript>
    <object class='tableauViz'  style='display:none;'>
      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
      <param name='embed_code_version' value='3' />
      <param name='site_root' value='' />
      <param name='name' value='COVID-19VaccineDashboardPublic&#47;Vaccine' />
      <param name='tabs' value='no' />
      <param name='toolbar' value='yes' />
      <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CO&#47;COVID-19VaccineDashboardPublic&#47;Vaccine&#47;1.png' />
      <param name='animate_transition' value='yes' />
      <param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' />
      <param name='language' value='en' />
      <param name='filter' value='publish=yes' />
    </object>
  </div>
</div>

<script type='text/javascript'>
  var divElement = document.getElementById('viz1615222002377');
  var vizElement = divElement.getElementsByTagName('object')[0];
    if ( divElement.offsetWidth > 800 ) {
      vizElement.style.minWidth='500px';
      vizElement.style.maxWidth='800px';
      vizElement.style.width='100%';
      vizElement.style.height='527px';
    }
    else if ( divElement.offsetWidth > 500 ) {
      vizElement.style.minWidth='500px';
      vizElement.style.maxWidth='800px';
      vizElement.style.width='100%';
      vizElement.style.height='527px';
    }
    else {
      vizElement.style.width='100%';
      vizElement.style.height='927px';
    }
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>