<div class="mx-auto pb-8 flex flex-col max-w-3xl px-10 space-y-8 text-xl text-gray-700 font-light">
  <div>
    <h2 class="text-2xl text-gray-900 font-semibold">Frequenty Asked Questions</h2>
  </div>
  <div>
    <h3 class="text-lg text-gray-800 font-semibold">How does VaxSpotter get appointment information?</h3>
    <p class="mt-2 text-sm">VaxSpotter follows several government, vaccine information, and healthcare provider websites for appointment data. That data is added to our system and pushed to our Twitter feed throughout the day.</p>
  </div>
  <div>
    <h3 class="text-lg text-gray-800 font-semibold">Why did you create VaxSpotter?</h3>
    <p class="mt-2 text-sm">I had been analyzing appointment data in California and realized there were gaps in how people found reliable appointment/vaccination information. I searched online and spoke with friends and someone pointed me to Huge Ma's <a class="text-blue-600 hover:underline target="_blank" rel="noopener noreferrer" href="https://www.turbovax.info/about"> TurboVax</a> project in NYC. I used his concept as inspiration to build VaxSpotter. </p>
  </div>
  <div>
    <h3 class="text-lg text-gray-800 font-semibold">Can VaxSpotter be used in other locations/counties?</h3>
    <p class="mt-2 text-sm">Yes, I built this web app to be flexible and region agnostic. If there is someone that wants to use it, they can grab the source code on Github. It is freely available. The Github link is on the About page. I am more than happy to set up a meeting and walk someone through the codebase.</p>
  </div>
  <div>
    <h3 class="text-lg text-gray-800 font-semibold">Will VaxSpotter be availble in other languages?</h3>
    <p class="mt-2 text-sm">That is high on my to do list. I'd like to start with adding Spanish.</p>
  </div>
  <div>
    <h3 class="text-lg text-gray-800 font-semibold">Is there a GoFundMe, Venmo, Paypal, etc?</h3>
    <p class="mt-2 text-sm">In the spirit of Huge Ma's project... I appreciate the generosity, but hosting costs are currently not breaking the bank. If you feel inclined to help, please consider donating to <a target="_blank" rel="noopener noreferrer" href="https://volunteertransportationcenter.org/donate/" class="hover:underline text-blue-600">The Volunteer Transportation Center</a>. They do amazing work in rural upstate New York to help people without transportation reach life saving/sustaining medical appointments.</p>
  </div>
</div>