<div class="mx-auto mb-2 flex justify-center border-t-2 border-gray-200">
  <hr/>
  <div class="flex flex-col items-center">
    <p class="mt-2 italic text-base md:text-base text-gray-600">
      <small>
        Built with love using
        <a
          class="text-red-400 hover:underline font-medium"
          target="_blank"
          rel="noopener noreferrer"
          href="https://rubyonrails.org/"
        >
          Ruby on Rails
        </a>
        , inspired by the
        <a
          class="text-red-400 hover:underline font-medium"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.turbovax.info/about"
        >
          TurboVax
        </a>
        project.
      </small>
    </p>
    <p class="mt-2 italic text-sm md:text-sm text-gray-600">
      <small>
        Project use <%= link_to "Disclaimer", "/disclaimer", class: "text-red-400 hover:underline font-medium" %>
      </small>
    </p>
  </div>
</div>