<div class="mx-auto pb-8 flex flex-col max-w-3xl px-10 space-y-8 text-lg text-gray-700 font-light">
  <div>
    <p class="">
      VaxSpotter tracks San Diego County vaccine appointments in real-time and posts their status on this site and Twitter. Please follow our
      <a class="text-blue-500 hover:underline font-medium" target="_blank" rel="noopener noreferrer" href="https://twitter.com/vaxspotter">
        @VaxSpotter 
      </a>
      twitter feed for updates.
    </p>
  </div>
  <div>
    <h2 class="text-lg text-gray-900 font-semibold">Vaccine Data Sources</h2>
    <p class="mt-1">More Info Coming Soon.</p>
  </div>
  <div>
    <h2 class="text-lg text-gray-900 font-semibold">Contact Us</h2>
    <p class="mt-1">VaxSpotter is maintained by
      <a class="text-blue-500 hover:underline font-medium" target="_blank" rel="noopener noreferrer" href="https://kmshannon.com">
        Kyle Shannon,
      </a>he can be reached at <a href="mailto:kyle@vaxspotter.info">vaxspotter@kmshannon.com</a>
    </p>
  </div>
  <div>
    <h2 class="text-lg text-gray-900 font-semibold">Getting Involved</h2>
    <p class="mt-1">The project is on
      <a class="text-blue-500 hover:underline font-medium" target="_blank" rel="noopener noreferrer" href="https://twitter.com/vaxspotter">
        GitHub,
      </a>feel free to fork it and use it, or help improve the project!</p>
  </div>
  <div>
    <h2 class="text-lg text-gray-900 font-semibold">Partner Organizations</h2>
    <p class="mt-1">We are always intrested in partnering with technology, healthcare, and government organizations. Please reach out!</p>
  </div>
</div>