<div class="mx-auto pb-8 px-10 prose max-w-prose">
  <p>VaxSpotter tracks San Diego County vaccine appointments in real-time and posts their status on this site and Twitter. Please follow our <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/vaxspotter">@VaxSpotter </a>twitter feed for updates.</p>
  <h2>Vaccine Data Sources</h2>
  <div>
    <table class="table-auto">
      <thead>
        <tr>
          <th>Provider Source</th>
          <th>Sites</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>City of San Diego</td>
          <td>1</td>
          <td>active</td>
        </tr>
        <tr>
          <td>County of San Diego</td>
          <td>14</td>
          <td>active</td>
        </tr>
        <tr>
          <td>Palomar Health</td>
          <td>1</td>
          <td>active</td>
        </tr>
        <tr>
          <td>Rady Children's Hospital</td>
          <td>1</td>
          <td>active</td>
        </tr>
        <tr>
          <td>Sharp Healthcare</td>
          <td>3</td>
          <td>active</td>
        </tr>
        <tr>
          <td>UC San Diego Health</td>
          <td>2</td>
          <td>active</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h2>Contact Us</h2>
  <p>VaxSpotter is maintained by <a target="_blank" rel="noopener noreferrer" href="https://kmshannon.com">Kyle Shannon,</a>he can be reached at <a href="mailto:kyle@vaxspotter.info">vaxspotter@kmshannon.com</a></p>
  <h2>Getting Involved</h2>
  <p>The project is on <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/vaxspotter">GitHub,</a>feel free to fork it and use it, or help improve the project!</p>
  <h2>Partner Organizations</h2>
  <p>We are always intrested in partnering with technology, healthcare, and government organizations. Please reach out!</p>
</div>