<div class="flex flex-col justify-center mx-auto max-w-3xl pb-24">
  <div class="pb-8">
    <h2 class="text-2xl leading-6 font-medium text-gray-900">Edit An Appointment</h2>
    <p class="mt-2 text-sm text-gray-500">
      Use this form to edit an existing appointment
    </p>
  </div>

  <%= render "form", appointment: @appointment %>

</div>